:root {
  --vp-c-brand-1: var(--vp-c-yellow-1);
  --vp-c-brand-2: var(--vp-c-yellow-2);
  --vp-c-brand-3: var(--vp-c-yellow-3);
  --vp-c-brand-soft: var(--vp-c-yellow-soft);
}

main dl dd {
  margin-top: .25rem;
  margin-bottom: 1rem;
}
